{% extends "../base.html" %}
{% block content %}
  <form class="form-inline my-2 my-lg-0" method="POST" action="/search" novalidate>
        {% csrf_token %}
        <div>
        {% for field in form %}
        <div class="form-group">
            <div class="form-control">{{field}}</div>
            <div class="error">{{field.errors}}</div>
        </div>
        {% endfor %}
        </div>
        <div class="form-group">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </div>
    </form>
      {% for sear in search %}
        <a href="/test/{{sear.id}}">{{ sear.name }}</a>
      {% endfor %}
 {% endblock content %}